{% extends 'base.html' %}

{% block content %}
<center>
    <div class="container " style="display: flex; justify-content:center;">
        {% for x in searched_images %}
        <div class="card" style="width: 18rem; margin: 8px;">
            <img height="180vh" src="{{x.image.url}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Caption: {{x.caption}}</h5>
                <p class="card-text">Location: {{x.location}}</p>
                <p>Time: {{x.date_created}}</p>
                
                <button type="button" class="btn text-white" style="background-color: #14110F;" 
                    data-bs-target="#staticBackdrop"> View </button>
            </div>
        </div>
        {% endfor %}
    </div> 

</center>

{% endblock %}