{% extends 'base.html' %}

{% block content %}

<div class="container" style="display: flex; justify-content: flex-end;">
    <div class="dropdown">
        <button class="btn dropdown-toggle text-white" style="background-color: #14110F;" type="button"
            id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Categories
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            {% for x in categories %}
            <li><a class="dropdown-item" href="{% url 'category' x.id %}">{{x.title}}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="container">
    <div class="dropdown">
        <button class="btn dropdown-toggle text-white" style="background-color: #14110F;" type="button"
            id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Location
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            {% for location in locations %}
            <li><a class="dropdown-item" href="{% url 'location' location.id %}">{{location.name}}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="container " style="display: flex; justify-content:center;">
    {% for photo in photos %}
    <div class="card" style="width: 18rem; margin: 8px;">
        <img src="{{photo.image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Caption: {{photo.caption}}</h5>
            <p class="card-text">Location: {{photo.location}}</p>
            <p>Time: {{photo.date_created}}</p>
            <!-- Button trigger modal  -->
            <button type="button" class="btn text-white" style="background-color: #14110F;" data-bs-toggle="modal"
                data-bs-target="#staticBackdrop"> View </button>
        </div>
    </div>
    {% endfor %}
    <!-- Modal  -->
    {% for photo in photos %}
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="{{photo.image.url}}" class="card-img-top" alt="...">
                Description: {{photo.description}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endfor %} 
{% endblock %}