<section class="text-center" style="background-color: #D9C5B2;">
    <div class="input-group col-xs-2">
        <input type="search" class="form-control rounded" placeholder="Search" size="20o" aria-label="Search" aria-describedby="search-addon" />
        <button type="button" class="btn btn-outline-primary">search</button>
    </div>
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-bold fst-italic"> Photo-Box</h1>
            <p class="lead my-3">View our amazing catalog of our favorite photos. </p>
    </div>
</section> 
